{% extends "base.html" %}

{% block head_title %}Forum XIII Hietzing – Das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Forum XIII Hietzing – Das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing" />
  <meta name="twitter:title" content="Forum XIII Hietzing – Das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing" />

  <meta name="description" content="Forum XIII Hietzing ist das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing. Entdecken Sie lokale Beiträge, Neuigkeiten, Diskussionen und Menschen aus Hietzing." />
  <meta property="og:description" content="Forum XIII Hietzing ist das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing. Entdecken Sie lokale Beiträge, Neuigkeiten, Diskussionen und Menschen aus Hietzing." />
  <meta name="twitter:description" content="Forum XIII Hietzing ist das soziale Netzwerk für den 13. Wiener Gemeindebezirk, Hietzing. Entdecken Sie lokale Beiträge, Neuigkeiten, Diskussionen und Menschen aus Hietzing." />

  <meta property="og:url" content="https://forum-hietzing.at" />
  <meta name="twitter:url" content="https://forum-hietzing.at" />
  <link rel="canonical" href="https://forum-hietzing.at" />

  <meta property="og:image" content="https://forum-hietzing.at/static/forum-xiii-hietzing-1200x630.png" />
  <meta property="twitter:image" content="https://forum-hietzing.at/static/forum-xiii-hietzing-1200x630.png" />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
